.experience-item-container {
  padding-bottom: 36px;
  font-size: 20px;
}

.experience-title {
  display: flex;
  justify-content: space-between;
}

.experience-subtitle {
  display: flex;
  justify-content: space-between;
}

.experience-title-large {
  font-size: 24px;
}

.experience-title-small {
  margin-top: auto;
}

.experience-title {
}

.experience-location {
}

.experience-body {
  padding-top: 12px;
  text-align: justify;
  font-size: 18px;
}
