.App {
  background: white;
}

body {
  overscroll-behavior-y: none;
}

.hidden {
  display: none;
}

.blue {
  color: #4285f4;
}

.red {
  color: #ea4335;
}

.yellow {
  color: #fbbc05;
}

.green {
  color: #34a853;
}

.title {
  text-align: center;
  text-decoration: none;
  color: black;
  font-size: 30px;
  font-weight: bold;
  font-family: "SpaceMono";
  height: 32px;
  top: -6px;
  position: relative;
}

.body {
  position: absolute;

  display: flex;
  justify-content: center;
  flex-direction: column;

  width: calc(100% - 310px);
  padding: 45px 40px 40px 270px;
}
